h1{color:#666;}
h3{color:goldenrod;}
input{
    border:1px solid green;
    border-radius:5px;
    padding:5px;
}
button{
    border-radius:100%;
    outline:none;
    background:red;
    border:none; 
    color:#FFF;
    }
span{padding:0 5px 0 0;}
ul,li{
    list-style-type:none;
}